.nav-list li:hover{
    border-bottom: 2px solid white;
}
.dark .nav-list li:hover{
    border-bottom: 2px solid black;
}

@media screen and (max-width: 500px) {
    .small{
        display: flex;
        flex-direction: column;
    }
}